@{
    ViewData["Title"] = "Doctor's Profile";
}
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

    
    a {
        
    }
    
    button:hover, a:hover {
        opacity: 0.7;
    }
</style>
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                                 max-width: 300px;
                                 margin: auto;
                                 text-align: center;">
  <img src="https://picsum.photos/70/70" alt="Doctor">
  <h1>Doctor Smith</h1>
  <p class="title" style="color: grey;
                                  font-size: 18px;">
      Doctor Smith
  </p>
  <p>University of British Columbia</p>
  <a href="#" style="text-decoration: none;
                             font-size: 22px;
                             color: black;">
      <i class="fa fa-dribbble"></i>
  </a>
  <a href="#" style="text-decoration: none;
                             font-size: 22px;
                             color: black;">
      <i class="fa fa-twitter"></i>
  </a>
  <a href="#" style="text-decoration: none;
                             font-size: 22px;
                             color: black;">
      <i class="fa fa-linkedin"></i>
  </a>
  <a href="#" style="text-decoration: none;
                             font-size: 22px;
                             color: black;">
      <i class="fa fa-facebook"></i>
  </a>
</div>

