@{
    ViewBag.Title = "SelectedPatientUploadTestReport";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Test Report</title>
    <script>
        function AddSignature(){
            if (document.getElementById("Signature").innerHTML === "verified"){
            }
            else{
                let signature = prompt("Please enter your signature", "Enter Signature");
                if (signature === "Password") {
                    let Signature = document.getElementById("Signature");
                    Signature.innerHTML = "verified";
                    Signature.style.color = "green";
                    Signature.style.border = "0";
                    Signature.style.backgroundColor = "white";
                }
                else {
                    alert("Wrong Password");
                }
            }
        }
        
        function checkUpload(){
            if (document.getElementById("Signature").innerHTML === "verified"){
                return true;
            }
            else{
                alert("Please verify your signature");
                return false;
            }
        }
    </script>
    <style>
        #UploadTestReportCard{
            width: 80vh;
            margin: auto auto;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
        }
        #Heading{
            text-align: center;
        }
        
        form{
            display: flex;
            flex-direction: column;
            margin: auto auto;
            width: auto;
        }
        
        .FormItem{
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: larger;
            margin: 5px;
        }
        
        #UploadButton{
            margin: 20px auto;
            width: fit-content;
            padding: 5px 20px;
            font-size: larger;
            border: 2px solid #58bd5a;
            border-radius: 10px;
            background-color: white;
            }
        #UploadButton:hover {
              background-color: #4CAF50;
              color: white;
            }
        #UploadButtonContainer{
            display: flex;
            justify-content: center;
        }
        
        #CancelButton{
            margin: auto;
            width: fit-content;
            padding: 3px 10px;
            font-size: medium;
            border: 2px solid red;
            border-radius: 10px;
            background-color: white;
        }
        #CancelButton:hover {
              background-color: red;
              color: white;
            }
        #Signature{
            border: 2px solid black;
            border-radius: 10px;
            text-align: center;
        }
        #Signature:hover{
            cursor: pointer;
            background-color: black;
            color: white;
        }
        
    </style>
  </head>
<body>
<div id="UploadTestReportCard">
    <h1 id="Heading">Upload Test Report</h1>
    <form method="post" 
          onsubmit="return checkUpload()"
          asp-controller="Doctor"
          asp-action="SelectedPatientUploadTestReport"
    >
        <div class="FormItem">
            <label for="TitleOfTheReport">Title of the Report</label>
            <input type="text" name="TitleOfTheReport" id="TitleOfTheReport"/>
        </div>
        <div class="FormItem">
            <label for="Date">Date</label>
            <input type="date" name="Date" id="Date"/>
        </div>
        <div class="FormItem">
            <label for="Result">Test Result</label>
            <input type="text" name="Result" id="Result"/>
        </div>
        <div class="FormItem">
            <label for="TestReport">Test Report</label>
            <input type="file" name="TestReport" id="TestReport"/>
        </div>
        <div class="FormItem">
            <label for="Signature">Add Signature</label>
            <label value="Add Signature" id="Signature" name="Signature" 
                   onclick="AddSignature()"
                   >Add Signature</label>
        </div>
        <div id="UploadButtonContainer">
            <input type="submit" value="Upload" id="UploadButton" />
        </div>
    </form>
    <button id="CancelButton"
            onclick="window.location= '@Url.Action("SelectedPatientUploadDocuments", "Doctor")'">
         Cancel
    </button>
</div>

</body>
</html>
