@{
    ViewData["Title"] = "Select Patient";
}

<h2 style="text-align: center"> Select A Patient </h2>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"
       onclick="window.location= '@Url.Action("SelectedPatientLandingPage", "Doctor")'">
        Patient 1
    </a>
    <a href="#" class="list-group-item list-group-item-action"
       onclick="window.location= '@Url.Action("SelectedPatientLandingPage", "Doctor")'">
        Patient 2
    </a>
    <a href="#" class="list-group-item list-group-item-action"
       onclick="window.location= '@Url.Action("SelectedPatientLandingPage", "Doctor")'">
        Patient 3
    </a>
    <a href="#" class="list-group-item list-group-item-action"
       onclick="window.location= '@Url.Action("SelectedPatientLandingPage", "Doctor")'">
        Patient 4
    </a>
</div>