@{
    ViewData["Title"] = "Patient Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patient Home</h1>
        <div class="container-fluid">
    <div class="d-grid gap-3">
        <div class="col-md-auto m">
            <button type="button" class="btn btn-primary" >Request An Appointment</button>
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" >View Appointments</button>
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" >My Profile</button>
        </div>
    <div/>
    </div>
</div>
