@{
    ViewData["Title"] = "Patient Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patient Home</h1>
        <div class="container-fluid">
    <div class="d-grid gap-3">
        <div class="col-md-auto m">
            <a asp-area="" asp-controller="Patient" asp-action="RequestAppointment" >Request An Appointment</a>
        </div>
        <div class="col-md-auto">
            <a asp-area="" asp-controller="Patient" asp-action="ViewAppointments">View Appointments</a>
        </div>
        <div class="col-md-auto">
            <a asp-area="" asp-controller="Patient" asp-action="PatientProfile">My Profile</a>
        </div>
    <div/>
    </div>
</div>
