@{
    ViewData["Title"] = "Patient Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patient Home</h1>
        <div class="container-fluid">
        <button type="button" class="btn btn-primary">Request An Appointment</button>
        <button type="button" class="btn btn-primary">View Appointments</button>
        <button type="button" class="btn btn-primary">My Profile</button>
    </div>
</div>
