@{
    ViewData["Title"] = "Request Appointment";
}

<div class="text-center">
    <h1 class="display-4">Request an Appointment</h1>
    <form>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Enter Your Information
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row g-3 align-items-center">
                    <div class="form-floating col-sm-5">
                        <input id="inputMSP" class="form-control"/>
                        <label for="inputMSP">Enter Your MSP Number</label>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Appointment Details
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>SELECT AN APPOINTMENT TYPE</option>
                          <option value="1">IN-PERSON</option>
                          <option value="2">ONLINE</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>SELECT AN APPOINTMENT REASON</option>
                          <option value="1">RESULTS</option>
                          <option value="2">FOLLOW-UP</option>
                          <option value="3">OTHER</option>
                        </select>
                    </div>
                    <div class="form-floating">
                        <input id="inputAddMsg" class="form-control"/>
                        <label for="inputAddMsg">Additional Message (Optional)</label>
                    </div>
                    <div class="form-floating col-sm-5">
                        <input id="inputEmail" class="form-control"/>
                        <label for="inputEmail">Enter Email address</label>
                    </div>
                    <div class="form-floating col-sm-5">
                        <input id="inputPhoneNum" class="form-control"/>
                        <label for="inputPhoneNum">Enter PhoneNumber</label>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Select a Time
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <div class="row g-3 align-items-center">
                    <div class="col-sm-5">
                        <label for="startDate">Select Date</label>
                        <input id="startDate" class="form-control" type="date" />
                        <span id="startDateSelected"></span>
                    </div>
                    <div class="col-sm-5">
                        <label form="startTime">Select Time</label>
                        <input type="time" class="form-control" value="10:05 AM" />
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">NEXT</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Book Appointment
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row g-3 align-items-center">
                     <div class="col-auto">
                        <select class="form-select" aria-label="Default select example">
                          <option selected>SELECT A DOCTOR</option>
                          <option value="1">Dr.Matt Perry</option>
                          <option value="2">Dr.Ross Geller</option>
                          <option value="3">Dr.Jashan Sings</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">NEXT</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Appointment Confirmation
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the fifth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
    </form>
</div>

<style>
    body {
        background: lightgrey;
    }

    .accordion {
        background: white;
        border-radius: 10px;
        box-shadow: 3px 3px #888888;
    }
</style>
